@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(44, 44, 44) !important;
  color: white !important;
}

.nav__main_div {
  margin-inline: auto;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  align-items: center;
}
a {
  position: relative;
}
a::before {
  content: "";
  bottom: -6px;
  position: absolute;
  left: 0;
  width: 0;
  height: 5px;
  border-radius: 20px;
  background-color: rgb(255, 181, 154);
  transition: 0.3s all ease;
}
a:hover::before {
  width: 100%;
}

a {
  cursor: pointer;
}
.nav__div {
  display: flex;
  gap: 40px;
  margin-left: 100px;
}

.news-contener {
  padding-inline: 50px;
  max-width: 1200px;
  margin-inline: auto;
}

.new__div,
.newInsider__div {
  display: flex;
  gap: 80px;
  padding: 30px 60px;
  border-radius: 10px;
  background-color: rgba(62, 62, 62, 0.475);
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 5;
}

.new__text {
  pointer-events: none;
  max-width: 600px;
  width: 70%;
  min-width: 300px;
}
.new__div h4,
.newInsider__div h4 {
  margin-bottom: 10px;
  pointer-events: none;
}

.new__desc {
  position: relative;
  color: gainsboro;
  pointer-events: none;
}
.newImg {
  pointer-events: none;
  width: 40%;
}
.new__text {
  margin-top: 50px;
}
.newPage__div {
  padding-inline: 100px;
}

path {
  pointer-events: none;
}

svg {
  z-index: 30;
  cursor: pointer;
}
.nav__icon {
  display: none;
}

form {
  margin-bottom: 30px;
}
@media (max-width: 1299px) {
  .new__div img,
  .newInsider__div img {
    width: 50%;
    min-width: 200px;
  }
}
@media (max-width: 1062px) {
  .new__desc {
    display: none;
  }
  .new__text {
    width: 60%;
    min-width: 200px;
  }
  .new__text h4 {
    position: relative;
    bottom: 20px;
    width: 60%;
    min-width: 200px;
    font-size: 17px;
  }
  .newInsider__div,
  .new__div {
    gap: 30px;
  }
}

@media (max-width: 572px) {
  .news-contener {
    padding-inline: 20px;
  }
  .newInsider__div,
  .new__div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* nav media query  */
@media (max-width: 887px) {
  .nav__div {
    display: none;
  }
  .nav__icon {
    display: block;
  }
  .nav__main_div {
    display: flex;
    justify-content: space-between;
  }
  .open__nav {
    display: block;
    position: fixed;
    margin: 0;
    inset: 0;
    z-index: 40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(44, 44, 44) !important;
  }
}
